<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= title %>
	</title>
	<link href="/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/style.css">
	<link rel="shortcut icon" type="image/x-icon" href="/dashboard/assets/favicon.ico"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="/css/tailwind.output.css" />
	<script src='https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js'></script>
	<script src="/js/embed.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
	<script src="/js/init-alpine.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>
	<script src="/js/charts-lines.js" defer></script>
	<script src="/js/charts-pie.js" defer></script>
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
	<script async src="https://arc.io/widget.min.js#RZDNGKSh"></script>
</head>

<body>

	<nav id="header" class="bg-black  w-full z-10 top-0 shadow">


		<div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">
			
			<div class="w-1/2 pl-2 md:pl-0">
				<a href="/"></a>
				<%- `<img class="w-8 h-8 inline-block rounded-full mr-4"
			src="https://cdn.discordapp.com/avatars/${bot.user.id}/${bot.user.avatar}"
			class="card-img-top" style="max-width: 18rem;">` %>
			</a>
				<a class="text-gray-100 text-base xl:text-xl no-underline hover:no-underline font-bold" href="/">
					<%= bot.user.username %>
				</a>
			</div>
			<div class="w-1/2 pr-0">
				<div class="flex relative inline-block float-right">
					<% if (user) { %>
						<div class="relative text-sm text-gray-100">
							<button id="userButton" class="flex items-center focus:outline-none mr-3">


								<%- `<img class="w-8 h-8 rounded-full mr-4"
									src="https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}"
									class="card-img-top" style="max-width: 18rem;">` %> <span
										class="hidden md:inline-block text-gray-100">Hi,<%= user.username %></span>
									<svg class="pl-2 h-2 fill-current text-gray-100" version="1.1"
										xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
										xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
										<g>
											<path
												d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" />
										</g>
									</svg>
							</button>
							<div id="userMenu"
								class="bg-black rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible">
								<ul class="list-reset">
									<li><a href="/logout"
											class="px-4 py-2 block text-gray-100 hover:bg-gray-800 no-underline hover:no-underline">Logout</a>
									</li>
								</ul>
							</div>
						</div>
						<% } else { %>
							<div class="relative text-sm text-gray-100">
								<a href="/login"> <button id="userButton"
										class="flex items-center focus:outline-none mr-3">
										<button
											class="h-10 px-5 text-black transition-colors duration-150 bg-red-700 rounded-full focus:shadow-outline hover:bg-white">Login</button>

									</button>

							</div>
							<% } %>



								<div class="block lg:hidden pr-4">
									<button id="nav-toggle"
										class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-100 hover:border-teal-500 appearance-none focus:outline-none">
										<svg class="fill-current h-3 w-3" viewBox="0 0 20 20"
											xmlns="http://www.w3.org/2000/svg">
											<title>Menu</title>
											<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
										</svg>
									</button>
								</div>
				</div>

			</div>


			<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-black z-20"
				id="nav-content">
				<ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
					<% if (active=='home' ) { %>
						<li class="mr-6 my-2 md:my-0">
							<a href="/"
								class="block py-1 md:py-3 pl-1 align-middle text-red-700 no-underline hover:text-red-600 border-b-2 border-red-700 hover:border-red-700">
								<i class="fas fa-home fa-fw mr-3 text-red-700"></i><span
									class="pb-1 md:pb-0 text-sm">Home</span>
							</a>
						</li>
						<li class="mr-6 my-2 md:my-0">
							<a href="/features"
								class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-red-700">
								<i class="fas fa-tasks fa-fw mr-3"></i><span
									class="pb-1 md:pb-0 text-sm">Features</span>
							</a>
						</li>
						<li class="mr-6 my-2 md:my-0">
							<a href="/dashboard"
								class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-red-700">
								<i class="fas fa-sliders-h fa-fw mr-3"></i><span
									class="pb-1 md:pb-0 text-sm">DashBoard</span>
							</a>
						</li>
					
						<% } else if(active=='dash') { %>
							<li class="mr-6 my-2 md:my-0">
								<a href="/"
									class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-red-700">
									<i class="fas fa-home fa-fw mr-3"></i><span
										class="pb-1 md:pb-0 text-sm">Home</span>
								</a>
							</li>
							<li class="mr-6 my-2 md:my-0">
								<a href="/features"
									class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-red-700">
									<i class="fas fa-tasks fa-fw mr-3"></i><span
										class="pb-1 md:pb-0 text-sm">Features</span>
								</a>
							</li>
							<li class="mr-6 my-2 md:my-0">
								<a href="/dashboard"
									class="block py-1 md:py-3 pl-1 align-middle text-red-700 no-underline hover:text-red-600 border-b-2 border-red-700 hover:border-red-700">
									<i class="fas fa-sliders-h fa-fw mr-3 text-red-700"></i><span
										class="pb-1 md:pb-0 text-sm">DashBoard</span>
								</a>
							</li>
						

							<% } else if (active=='features') {%>
								<li class="mr-6 my-2 md:my-0">
									<a href="/"
										class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-red-700">
										<i class="fas fa-home fa-fw mr-3"></i><span
											class="pb-1 md:pb-0 text-sm">Home</span>
									</a>
								</li>
								<li class="mr-6 my-2 md:my-0">
									<a href="/features"
										class="block py-1 md:py-3 pl-1 align-middle text-red-700 no-underline hover:text-red-600 border-b-2 border-red-700 hover:border-red-700">
										<i class="fas fa-tasks fa-fw mr-3 text-red-700"></i><span
											class="pb-1 md:pb-0 text-sm">Features</span>
									</a>
								</li>
								<li class="mr-6 my-2 md:my-0">
									<a href="/dashboard"
										class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-red-700">
										<i class="fas fa-sliders-h fa-fw mr-3"></i><span
											class="pb-1 md:pb-0 text-sm">DashBoard</span>
									</a>
								</li>
							
								


								<% } %>



				</ul>

				<div class="relative pull-right pl-4 pr-4 md:pr-0">


				</div>

			</div>

		</div>
	</nav>

	</div>


	</div>



	</div>


	</div>


	<script>


		var userMenuDiv = document.getElementById("userMenu");
		var userMenu = document.getElementById("userButton");

		var navMenuDiv = document.getElementById("nav-content");
		var navMenu = document.getElementById("nav-toggle");

		document.onclick = check;

		function check(e) {
			var target = (e && e.target) || (event && event.srcElement);


			if (!checkParent(target, userMenuDiv)) {

				if (checkParent(target, userMenu)) {

					if (userMenuDiv.classList.contains("invisible")) {
						userMenuDiv.classList.remove("invisible");
					} else { userMenuDiv.classList.add("invisible"); }
				} else {

					userMenuDiv.classList.add("invisible");
				}
			}


			if (!checkParent(target, navMenuDiv)) {

				if (checkParent(target, navMenu)) {

					if (navMenuDiv.classList.contains("hidden")) {
						navMenuDiv.classList.remove("hidden");
					} else { navMenuDiv.classList.add("hidden"); }
				} else {

					navMenuDiv.classList.add("hidden");
				}
			}

		}

		function checkParent(t, elm) {
			while (t.parentNode) {
				if (t == elm) { return true; }
				t = t.parentNode;
			}
			return false;
		}


	</script>