<%- include("partials/header", { bot, user, path, title: `Settings | ${guild.name}`, active:"dash" }) %>


  <div class="flex flex-row h-full">


    <nav class="bg-black w-20  justify-between flex flex-col ">
      <div class="mt-10 mb-10">


        <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}"
          class="rounded-full w-10 h-10 mb-3 mx-auto">` : `<img src="https://ui-avatars.com/api/?name=${guild.name}"
            class="rounded-full w-10 h-10 mb-3 mx-auto" />` %>

          <div class="mt-10">
            <ul>
              <li class="mb-6">
                <a href=/dashboard/<%- guild.id %>>
                  <span>
                    <i style="margin-left: 27%;" class="fas fa-chart-line fa-fw mr-3 text-white"></i>
                  </span>
                </a>
              </li>
              <li class="mb-6">
                <a href="/dashboard/general/<%- guild.id %>">
                  <span>
                    <i style="margin-left: 27%;" class="fas fa-angle-right fa-fw mr-3 text-red-700"></i>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="mb-6">
                <a href="#">
                  <span>
                    <i style="margin-left: 27%;" class="fas fa-bullhorn fa-fw mr-3 text-white"></i>
                  </span>
                </a>
              </li>

            </ul>
          </div>
      </div>
      <div class="mb-4">
        <a href="/logout">
          <span>
            <i style="margin-left: 27%;" class="fas fa-sign-out-alt fa-fw mr-3 text-red-400"></i>
          </span>
        </a>
      </div>
    </nav>
    <div class="px-16 py-4 text-gray-100 bg-gray-900 h-screen w-screen">
      <h1 style="font-size: 30px;
    margin-bottom: 5%;">General Settings</h1>
      <form method="POST">
        <div class="mb-4">
          <label class="block text-gray-100 text-sm font-bold mb-2" for="name">
            Prefix
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="prefix" type="text" name="prefix" value="<%= settings.prefix %>" placeholder="<%= settings.prefix %>">
        </div>
        <div class="mb-4">
          <label class="block uppercase tracking-wide text-gray-100 text-xs font-bold mb-2" for="grid-state">
            Log Channel
          </label>
          <div class="relative">
            <select name='logchn'
              class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">

              <% guild.channels.cache.forEach(c=> {
                if(c.type === 'GUILD_TEXT'){

                %>
                <option value=<%=c.id %>><%= c.name %>
                </option>

                <% }}) %>

            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <button style="border: 2px solid black;"
            class="bg-black hover:bg-yellow hover:text-black text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Submit
          </button>
        </div>
      </form>


    </div>
  </div>