<%- include("partials/header", { bot, user, path, title: `Settings | ${guild.name}`, active:"dash" }) %>

  <div class="flex flex-row h-full">


    <nav class="navbar1 bg-black w-20 justify-between flex flex-col ">
      <div class="mt-10 mb-10">


        <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}"
          class="rounded-full w-10 h-10 mb-3 mx-auto">` : `<img src="https://ui-avatars.com/api/?name=${guild.name}"
            class="rounded-full w-10 h-10 mb-3 mx-auto" />` %>

          <div class="mt-10">
            <ul>
              <li class="mb-6">
                <a href="#">
                  <span>
                    <i style="color: red!important; margin-left: 27%;" class="fas fa-chart-line fa-fw mr-3"></i>
                  </span>
                </a>
              </li>
              <li class="mb-6">
                <a href="/dashboard/general/<%- guild.id %>">
                  <span>
                    <i style="margin-left: 27%;" class="fas fa-angle-right fa-fw mr-3 text-white"></i>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="mb-6">
                <a href="#">
                  <span>
                    <i style="margin-left: 27%;" class="fas fa-bullhorn fa-fw mr-3 text-white"></i>
                  </span>
                </a>
              </li>

            </ul>
          </div>
      </div>
      <div class="mb-4">
        <a href="/logout">
          <span>
            <i style="margin-left: 27%;" class="fas fa-sign-out-alt fa-fw mr-3 text-red-400"></i>
          </span>
        </a>
      </div>
    </nav>
    <div class="px-16 py-4 text-gray-700 bg-gray-900 h-screen w-screen">
      <main>
        <div class="container px-6 mx-auto grid">
          <h2 class="my-6 text-2xl font-semibold text-white dark:text-gray-200">
            <%- guild.name %>
          </h2>
          <!-- Cards -->
          <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
            <!-- Card -->
            <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

              <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                  Total Members
                </p>
                <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                  <%- guild.memberCount %>
                </p>
              </div>
            </div>
            <!-- Card -->
            <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

              <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                  Server ID
                </p>
                <p style="font-size: 16px;" class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                  <%- guild.id %>
                </p>
              </div>
            </div>
      
            <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

              <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                  Owner ID
                </p>
                <p style="font-size: 16px;" class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                  <%- guild.ownerId %>
                </p>


              </div>
            </div>



          </div>
        </div>
       
    </div>
  </div>
  </main>

  </div>
  </div>

  </div>

  </div>